[2021-12-24 02:18] William-McGonagle opened #1 "Authentication System"

[2021-12-24 02:18] William-McGonagle opened #2 "User System"
## Idea
The user system needs to be robust and yet simple. The main features behind it will be the biographies, status, and profile pictures. The profile picture system was already completed, so to finish it off, all I will need to do is link it using URLs. Then, I need to add a biography system, and I might want to force users to not use bad language (so I may have to build a new library for that

[2021-12-24 02:18] William-McGonagle opened #3 "Email System"

[2021-12-24 02:18] William-McGonagle opened #4 "Event System"

[2021-12-24 02:19] William-McGonagle opened #5 "Duck Generator"

[2021-12-24 02:19] William-McGonagle opened #6 "Duck Joke Generator"

[2021-12-24 02:24] William-McGonagle opened #7 "RSVP System"
## Idea
The RSVP system should allow users to subscribe to events. This subscription will say that a user is going to go to a certain event. The user should not be able to subscribe to the event if they are not eligible to (I.E, the event is for delegates but the user isn't one). The users will then be notified of any changes to the event or anything that the event hosts would like the users to kn

[2021-12-24 02:37] William-McGonagle opened #8 "More Duck Jokes Needed"
If you have any duck jokes, feel free to drop a pull request onto the repository or commit directly if you can. Currently, we have a list of the following jokes, but you can always comment jokes that are not on this list and you can leave response emojis on jokes you either like or don't like.

[2021-12-24 02:39] William-McGonagle commented on #6
I just finished the bare bones of this system, I can still add an indexing part to it, but at this point, it is done.

[2021-12-24 02:39] #6 closed

[2021-12-24 02:40] #1 closed

[2021-12-24 02:40] #5 closed

[2021-12-24 02:40] William-McGonagle commented on #8
What's a duck's favorite ballet? The Nutquacker.

[2021-12-24 02:40] William-McGonagle commented on #8
What's a duck's favorite part of the news? The feather forecast.

[2021-12-24 02:40] William-McGonagle commented on #8
Why did the duck go to the chiropractor? To get its back quacked.

[2021-12-24 02:40] William-McGonagle commented on #8
Where do ducks go when they're sick? The ducktor's office.

[2021-12-24 02:40] William-McGonagle commented on #8
Why do ducks never grow up? Because they grown down.

[2021-12-24 02:41] William-McGonagle commented on #8
What do ducks have with their soup? Quackers.

[2021-12-24 02:41] William-McGonagle commented on #8
What do you call a duck that breaks into people's houses? A robber ducky.

[2021-12-24 02:41] William-McGonagle commented on #8
What are duck's favorite zoo animal? Quackodiles.

[2021-12-24 02:45] William-McGonagle opened #9 "Need Testing for Duck Jokes"
## About
I finished the whole duck joke system but I first off need to refactor it so that it supports indexing. And then secondly, I completely forgot to add a test suite for the jokes.

I wish I could test if the duck puns were funny or not, but I'm pretty sure all of the tests would fail.

## Todo
- [x] Refactor Duck Joke System
     - [x] Build using File System
     - [x] Create a Central Lib

[2021-12-24 03:02] William-McGonagle commented on #8
Why are duck eggs so strong? Because they're unquackable.

[2021-12-24 03:03] William-McGonagle commented on #9
I just finished the central library and added the joke endpoints. I still need to create the tests though. (I know I should have done the tests first but I am too tired for test-driven development)

[2021-12-24 03:21] William-McGonagle commented on #9
I just finished building all of the tests, and my code seems to be passing.

[2021-12-24 03:22] #9 closed

[2021-12-24 13:41] William-McGonagle commented on #8
What do you call a joke about ducks? A wisequack.

[2021-12-24 15:37] William-McGonagle opened #10 "Delete Accounts"
## Idea
Users might not want their account after a certain amount of time. If a user deletes their account, all of their user data should be deleted along with any data that they created. This means that any chats they participated in, any events they RSVP'd to, etc, will be deleted.

## Todo
- [x] Deleting account deletes _all_ data
- [x] Endpoints
     - [x] Delete Account Endpoint (need to be l

[2021-12-24 15:37] William-McGonagle opened #11 "Email Verification"
## Idea
Users are a difficult part of programming because there are always bad users. Email verification stops users from creating spam accounts and it also lets us determine where groups of spam accounts may be. This is why we need a system for users to verify their emails.

## Todo
- [x] Send Verification Email to Users
- [x] Add Email Bool to User in Database
- [x] Restrict User from Actions Un

[2021-12-24 15:39] William-McGonagle opened #12 "Change Password"
## Idea
Users may have leaked their password online or just need to change it for a number of different reasons. There needs to be some endpoints for changing the user's password. The user must also be logged in to use this endpoint or else it would defeat the purpose immensely.

## Todo

- [x] Allow Users to Change Passwords
- [x] Users can only change passwords if logged in
- [x] Password cannot

[2021-12-24 20:58] William-McGonagle opened #13 "More Duck Item Ideas Needed"
Right now there are a couple of hats and eyes that users can add to their ducks, but we need more options.

If you have any ideas for things you want to be added to the ducks, leave a comment below!

![Cool Duck](http://fairfield-programming.herokuapp.com/duck/0100000061/20)

[2021-12-25 00:00] William-McGonagle commented on #2
I finished the querying endpoints and the testing behind them, but I still need to add the setting user data endpoints.

[2021-12-25 00:01] William-McGonagle commented on #2
I've also been thinking I should add an api-feature like the one that GitHub has where users can query:

[code]

And get redirected to the profile picture of that user.

[2021-12-25 03:14] William-McGonagle commented on #10
Neil just finished the endpoint for this and I will get started on testing suite soon!!!

[2021-12-25 21:37] William-McGonagle commented on #10
Finished off the testing- deleting accounts is all done!

[2021-12-25 21:37] #10 closed

[2021-12-25 21:38] William-McGonagle commented on #4
Neil- Maybe write a little bit about what you want the event system to look like. I saw the code you wrote and it looks pretty great- just write down what you want it to do though for future contributors.

[2021-12-25 21:42] William-McGonagle opened #15 "Build Auth Middleware"
## Idea
I need to build the middleware for the authorization. Pretty much there will be a bearer token in the authentication header and that will be the JWT token. This will then be checked to make sure that the user has the correct authorization.

## Todo
- [x] Read the Auth Token
- [x] Set the `Req.Auth` token to false if not signed in
- [x] Set the `Req.Auth` token to be the user data if they a

[2021-12-25 21:52] William-McGonagle commented on #15
Finished the Middleware!

[2021-12-25 21:52] #15 closed

[2021-12-25 22:30] NeilChaudhari commented on #4
I created endpoints to create, list, and query events. Eventually the user should be able to rsvp to events, which is what I am working on right now

[2021-12-26 00:16] William-McGonagle commented on #2
Finished the Testing!!!

[2021-12-26 00:16] #2 closed

[2021-12-26 00:28] William-McGonagle commented on #12
Almost done- just need to do testing...

[2021-12-26 00:43] William-McGonagle commented on #12
Finished it all up!

[2021-12-26 00:43] #12 closed

[2021-12-26 01:02] William-McGonagle opened #16 "Add in Emailing Functionality"

[2021-12-26 01:03] William-McGonagle opened #17 "Check All Data for Vulgar Language"

[2021-12-26 01:08] William-McGonagle commented on #17
I just added checks on the status and biography pages for vulgar language. It is now done!

[2021-12-26 01:08] #17 closed

[2021-12-26 02:58] DiegoPrestesGit commented on #13
Well, I'll give some ideas and you tell me if I'm in the right way:

- new wing formats, nothing crazy but we could do some extra shapes;
- tail, he could have some more tails with nice feathers and ornaments;
- some new hats;
- a robot like duck, like a synth;

I could give some more ideas but I'm not sure if I'm in the right way of thinking, so you can reply me and I might be able to code some i

[2021-12-26 15:18] William-McGonagle commented on #13
I really like the idea of a cyborg duck- so I'm going to add that to the to-do list right now, but I am interested in what new wing formats or tails you would like. I could definitely add those in, I would just need to add a bit to the hex-parser.

[2021-12-26 15:20] William-McGonagle commented on #13
I just saw this online- and maybe there could be some cool ideas in here, but I'm not really sure... what do you think?

<img alt="Wings" width="200px" src="https://i.pinimg.com/originals/ab/6b/9c/ab6b9c57bf293b006b41d3c8a4db8e10.jpg">

[2021-12-26 15:32] William-McGonagle opened #19 "Add Cyborg Ducks"

[2021-12-26 15:32] William-McGonagle opened #20 "Add Wing to Duck Parser"

[2021-12-26 15:32] William-McGonagle opened #21 "Add Tail to Duck Parser"

[2021-12-26 15:32] William-McGonagle opened #22 "Add Top-hat to Ducks"

[2021-12-26 15:33] William-McGonagle opened #23 "Add Fedora to Ducks"

[2021-12-26 15:33] William-McGonagle opened #24 "Add Party Hat to Ducks"

[2021-12-26 15:35] William-McGonagle opened #25 "Add Mohawk to Ducks"

[2021-12-26 15:36] William-McGonagle opened #26 "Add Baseball Cap to Ducks"

[2021-12-26 15:36] William-McGonagle opened #27 "Add Pirate Hat to Ducks"

[2021-12-26 15:36] William-McGonagle opened #28 "Add Balding Haircut to Ducks"

[2021-12-26 15:37] William-McGonagle opened #29 "Add Bunny Ears to Ducks"

[2021-12-26 15:38] William-McGonagle opened #30 "Add Binoculars as Eye-Option for Ducks"

[2021-12-26 15:38] William-McGonagle opened #31 "Add Reading Glasses as Eye-Option for Ducks"

[2021-12-26 15:40] William-McGonagle opened #32 "Add Crowbar as Item for Ducks"

[2021-12-26 15:40] William-McGonagle opened #33 "Add Football as Item for Ducks"

[2021-12-26 15:40] William-McGonagle opened #34 "Add Eyepatch as Eye-Option for Ducks"

[2021-12-26 16:50] William-McGonagle opened #35 "Add Version Number to Duck Generator to Allow for Forward Compatability"
## Idea
Pretty much one of the big problems with the duck generator is that there needs to be forward and backward support. Right now, there is not, so I am thinking we should just get rid of the whole system and create something new instead. So, the new format will need to support versioning as a default and all future formats will need to follow that versioning system.

The issue with the inform

[2021-12-26 16:50] William-McGonagle opened #36 "Revamp Duck Generator System to Allow for Direct Import of SVG"
## Idea
Currently, the duck system is a little stupid. I designed it so that it would work well with a low number of items, but I have started to realize that people want more and more things to choose from. That is why I have to rebuild the duck system from the ground up.

1. To do this, I need to first create a new storage format for the duck information, that will be pretty easy, I just need to

[2021-12-26 16:50] William-McGonagle opened #37 "Add Goggles to Eye-Options"

[2021-12-26 16:53] William-McGonagle opened #38 "Create a New Format for Ducks"
## Idea
Currently, the duck system is a little stupid. I designed it so that it would work well with a low number of items, but I have started to realize that people want more and more things to choose from. That is why I have to rebuild the duck system from the ground up.

1. To do this, I need to first create a new storage format for the duck information, that will be pretty easy, I just need to

[2021-12-26 16:55] William-McGonagle opened #39 "Create a Parser for the New Duck Storage Format"
## Idea
Currently, the duck system is a little stupid. I designed it so that it would work well with a low number of items, but I have started to realize that people want more and more things to choose from. That is why I have to rebuild the duck system from the ground up.

1. To do this, I need to first create a new storage format for the duck information, that will be pretty easy, I just need to

[2021-12-26 16:57] William-McGonagle opened #40 "Build a System to Store the Duck Items"
## Idea
Currently, the duck system is a little stupid. I designed it so that it would work well with a low number of items, but I have started to realize that people want more and more things to choose from. That is why I have to rebuild the duck system from the ground up.

1. To do this, I need to first create a new storage format for the duck information, that will be pretty easy, I just need to

[2021-12-26 22:13] William-McGonagle opened #41 "Make Events Owned by Users"
## Idea
Events are great but they should only be deletable by the person that created them, and they should only be able to be edited by the person that created them as well. This will stop spam users from deleting events that users worked hard to build.

## Todo
- [ ] Add a relationship between events and users where users own multiple events
- [ ] Add auth to all of the events so that only the o

[2021-12-26 22:21] William-McGonagle commented on #38
## Intro
Okay, so the current plan for the duck format is that the numbers will all be in hexadecimal. From there, the first number will always be the version. The following diagram will describe version 1 of the duck storage format.

## Format
[code]
1 - The version number
A4 - The duck's hat (Item #164)
B3 - The duck's eyes (Item #179)
73 - The duck's beak (Item #115)
22 - The duck's wings (Item

[2021-12-26 22:29] William-McGonagle commented on #39
I finished the idea for version 1 of the duck storage format... and now I am going to start working on the parser.

[2021-12-26 22:29] #38 closed

[2021-12-26 22:41] William-McGonagle commented on #39
I finished the parser- it is forward compatible.

[2021-12-26 22:41] #39 closed

[2021-12-26 23:04] William-McGonagle commented on #40
I decided against using a SQL server. I will just use the file system, for now, but maybe we will splinter off the ducks into their own project.

[2021-12-26 23:04] #40 closed

[2021-12-26 23:04] William-McGonagle commented on #36
I'm getting this working right now- it will be done soon.

[2021-12-26 23:20] William-McGonagle commented on #36
Okay- I finished this system. It is done.

[2021-12-26 23:20] #36 closed

[2021-12-26 23:20] William-McGonagle commented on #35
The version number is now a built-in part of the parser.

[2021-12-26 23:20] #35 closed

[2021-12-26 23:21] William-McGonagle commented on #21
This is added in the new duck format parser.

[2021-12-26 23:21] #21 closed

[2021-12-26 23:22] William-McGonagle commented on #20
This is added in the new duck format parser.

[2021-12-26 23:22] #20 closed

[2021-12-26 23:59] William-McGonagle commented on #26
Added Blue Baseball Cap to Ducks.

![Baseball Cap Duck](https://fairfield-programming.herokuapp.com/duck/10100000004000043)

[2021-12-27 00:00] William-McGonagle commented on #25
Added Blue Mohawk to Ducks.

![Blue Mohawk Duck](https://fairfield-programming.herokuapp.com/duck/10400000004000043)

[2021-12-27 00:00] William-McGonagle commented on #23
Added Fedora to Ducks.

![Fedora Duck](https://fairfield-programming.herokuapp.com/duck/10200000004000043)

[2021-12-27 00:00] #23 closed

[2021-12-27 00:01] William-McGonagle commented on #22
Added Top-hat to Ducks.

![Tophat Duck](https://fairfield-programming.herokuapp.com/duck/10800000004000043)

[2021-12-27 00:01] #22 closed

[2021-12-27 00:03] William-McGonagle commented on #25
Added Red Mohawk to Ducks.

![Red Mohawk Duck](https://fairfield-programming.herokuapp.com/duck/10500000004000043)

[2021-12-27 00:03] #25 closed

[2021-12-27 00:04] William-McGonagle commented on #28
Added Balding Haircut.

![Balding Duck](https://fairfield-programming.herokuapp.com/duck/10600000004000043)

![Balding Duck](https://fairfield-programming.herokuapp.com/duck/10700000004000043)

[2021-12-27 00:04] #28 closed

[2021-12-27 00:22] William-McGonagle commented on #26
Added Red Baseball Cap to Ducks.

![Red Baseball Cap Duck](https://fairfield-programming.herokuapp.com/duck/10900000004000043)

[2021-12-27 00:28] DiegoPrestesGit commented on #13
Oh I see, I surely should be more specific! Those are cool, we have to find a way to fit in the duck. I also saw that you added some issues on new features for the duck, I'll try to do some of those.

[2021-12-27 01:59] William-McGonagle commented on #27
Added Pirate Hat to Duck.

![Pirate Duck](https://fairfield-programming.herokuapp.com/duck/10300000000000053)

[2021-12-27 01:59] #27 closed

[2021-12-27 02:00] William-McGonagle commented on #13
Sounds great- thank you so much for the help!

[2021-12-27 13:31] #26 closed

[2021-12-27 14:29] William-McGonagle opened #42 "Automatically RSVP the Creator of an Event"
## Idea
Just for the sake of efficiency and simplicity, we know that whoever is creating an event is probably going to go to said event. So, we can put that into our API as a default.

## Todo
In the 'create event endpoint', the creator of the event should be automatically RSVP'd to the event.

[2021-12-27 14:47] William-McGonagle opened #43 "Add Fairfield Programming Association to Github Explore Page"
## Idea
Right now, the FPA is a fairly young open-source organization that needs help to grow. To do this, we need to get our name heard, so we need someone who is not yet a contributor to our project to help out by creating a pull request on the 'github/explore' repo. Just add the 'fairfield-programming/fairfield-programming.github.io' to [this file](https://github.com/github/explore/blob/main/co

[2021-12-27 14:50] William-McGonagle opened #44 "Add Fairfield Programming Association to Github Explore Page"
## Idea
Right now, the FPA is a fairly young open-source organization that needs help to grow. To do this, we need to get our name heard, so we need someone who is not yet a contributor to our project to help out by creating a pull request on the 'github/explore' repo. Just add the 'fairfield-programming/fairfield-programming.github.io' to [this file](https://github.com/github/explore/blob/main/co

[2021-12-27 16:45] github4maninder commented on #44
hi, I would love to work on this. kindly assign this request to me.

[2021-12-27 16:50] William-McGonagle commented on #44
Okay- thank you!

[2021-12-27 17:24] github4maninder commented on #44
Created a pull request now waiting for the merge. I will keep you posted! thanks

[2021-12-27 17:29] github4maninder commented on #43
hi, i have also updated this info in the existing PR request. Kindly assign this to me. Thanks.

[2021-12-27 18:57] William-McGonagle commented on #43
Just assigned you- thanks again!

[2021-12-27 23:12] NeilChaudhari commented on #41
done

[2021-12-27 23:12] #41 closed

[2021-12-28 02:12] William-McGonagle commented on #24
Added Party Hats!

![Red Party Hat](http://fairfield-programming.herokuapp.com/duck/10b00000000000053)

![Blue Party Hat](http://fairfield-programming.herokuapp.com/duck/10a00000000000053)

[2021-12-28 02:56] #24 closed

[2021-12-28 15:03] William-McGonagle opened #45 "Add a Friend System"
**Is your feature request related to a problem? Please describe.**
Users want to be able to interact with one another but they are not able to if they cannot friend each other. This system would also let us build a chat system and other features later on.

**Describe the solution you'd like**
We could add in a friend system to the server by using the sequelize relationship system. That would let p

[2021-12-28 15:07] William-McGonagle opened #46 "Create an Endpoint to Query Followers"
## Idea
_Full Idea Here - #45_

Users need to see who they are followed by, so we are going to add in an endpoint where they can check what users are following them.

The endpoint will be `/user/:id/followers`

## Todo
- [x] Endpoints
     - [x] Add an endpoint for querying who a user is followed by
- [x] Testing
     - [x] Test the previous endpoint to make sure it works

[2021-12-28 15:17] William-McGonagle opened #47 "Create an Endpoint to Query Following"
## Idea
_Full Idea Here - #45_

Users need to see what accounts they are following. To do this, there needs to be a single endpoint that can just list all of the accounts that a user is following along with the profile picture, name, and account id. This will help our frontend team a lot because only the important stuff will be loaded.

The endpoint will be at `/user/:id/following`.

## Todo
- [x]

[2021-12-28 15:25] William-McGonagle opened #48 "Create an Endpoint to Follow a User"
## Idea
_Full Idea Here - #45_

There are currently endpoints being worked on that let users see who someone is following and who they are followed by, but there needs to be an endpoint for following someone.

The endpoint path will be `/user/:id/follow` and it will be accessible using a post request. It will need to require authentication to determine the user id, and it should properly handle al

[2021-12-28 15:30] William-McGonagle opened #49 "Add Friend System to Database"
## Idea
_Full Idea Here - #45_

The friend system that we are currently working on needs a database to manage the friend connections. Right now we are using Sequelize, and this should support a full friend system without any problems.

The friend system should support multiple things in one foul-swoop: following, blocking, friend requests, and it should be forward compatible to any future things a

[2021-12-28 15:35] William-McGonagle opened #50 "Create an Endpoint for Blocking a User"
## Idea
_Full Idea Here - #45_

Right now we are working on a friend system, but what would a friend system be without the ability to block users. That is why we need to add an endpoint for blocking users.

The path of the endpoint would be `/user/:id/block` and the only way to access it would be through a post request. Proper authentication is needed for this endpoint, and if the user is already

[2021-12-28 15:41] William-McGonagle opened #51 "Add Documentation to Duck Generator Library"
## Idea
The duck generator is a really great system, but the only problem is that there is no documentation for it. All of the code for the file can be found inside of the [`src/routes/Duck/` folder](https://github.com/fairfield-programming/backend-server/tree/master/src/routes/Duck). This is where all of the code for generating ducks can be found, but it all needs to be documented so it can be ea

[2021-12-28 15:46] William-McGonagle opened #52 "Add Documentation to Vulgar Detector"
## Idea
The backend server is getting huge, but we do not have a ton of documentation. This is a huge problem because there are people that would like to work on the project but are not sure where to start or what our code does.

One of the parts of our system that is relatively unknown is the vulgar detector. I had to build this system to check all of the biographies and posts, and it works quite

[2021-12-28 17:33] William-McGonagle opened #53 "Separate Testing Suite"
## Idea
Right now the project is growing in size at an incredible rate, but the only downside is that the testing suite is just a single file. In most cases, this would work fine, but this monolithic file needs to be cut down and separated into a bunch of separate testing files. We can keep the same file system structure to organize the files but we just need to break up the testing suite.

## Tod

[2021-12-28 17:37] William-McGonagle opened #54 "Create Testing Suite for Duck Endpoints"
## Idea
Right now all of our testing suites are in one file- `src/tests/test.js` but we want to move each testing suite into its own file.

For this issue, we need to move the testing suite for duck endpoints into its own file titled `src/tests/duck.js`. If you want to do this, comment on this issue and I will assign you to it.

## Todo
- [ ] Move the testing functions into their own file

[2021-12-28 17:37] William-McGonagle opened #55 "Create Testing Suite for Joke Endpoints"
## Idea
Right now all of our testing suites are in one file- `src/tests/test.js` but we want to move each testing suite into its own file.

For this issue, we need to move the testing suite for joke endpoints into its own file titled `src/tests/joke.js`. If you want to do this, comment on this issue and I will assign you to it.

## Todo
- [x] Move the testing functions into their own file

[2021-12-28 17:38] William-McGonagle opened #56 "Create Testing Suite for Auth Endpoints"
## Idea
Right now all of our testing suites are in one file- `src/tests/test.js` but we want to move each testing suite into its own file.

For this issue, we need to move the testing suite for auth endpoints into its own file titled `src/tests/auth.js`. If you want to do this, comment on this issue and I will assign you to it.

## Todo
- [x] Move the testing functions into their own file

[2021-12-28 17:39] William-McGonagle opened #57 "Create Testing Suite for User Query Endpoints"
## Idea
Right now all of our testing suites are in one file- `src/tests/test.js` but we want to move each testing suite into its own file.

For this issue, we need to move the testing suite for the user query endpoints into its own file titled `src/tests/userQuery.js`. If you want to do this, comment on this issue and I will assign you to it.

## Todo
- [x] Move the testing functions into their ow

[2021-12-28 17:41] William-McGonagle opened #58 "Create Testing Suite for User Editing Endpoints"
## Idea
Right now all of our testing suites are in one file- `src/tests/test.js` but we want to move each testing suite into its own file.

For this issue, we need to move the testing suite for user editing endpoints into its own file titled `src/tests/userEdit.js`. If you want to do this, comment on this issue and I will assign you to it.

The user editing endpoints are the endpoints where users

[2021-12-28 17:51] William-McGonagle opened #59 "Add Documentation to "Get User Data" Endpoint"
## Idea
At this point, we have a ton of endpoints and the number just keeps growing. We need to document all of these endpoints but the only way to do that is to write about each of them. That is where you come in. If you would like to document this endpoint, just comment on the post, and I will assign it to you.

## Todo
- [ ] Add an item to the OpenAPI file that shows how to "Get User Data"
- [

[2021-12-28 17:51] William-McGonagle opened #60 "Add Documentation to Signup Endpoint"
## Idea
At this point, we have a ton of endpoints and the number just keeps growing. We need to document all of these endpoints but the only way to do that is to write about each of them. That is where you come in. If you would like to document this endpoint, just comment on the post, and I will assign it to you.

## Todo
- [ ] Add an item to the OpenAPI file that shows how to "Signup"
- [ ] Add a

[2021-12-28 17:51] William-McGonagle opened #61 "Add Documentation to Login Endpoint"
## Idea
At this point, we have a ton of endpoints and the number just keeps growing. We need to document all of these endpoints but the only way to do that is to write about each of them. That is where you come in. If you would like to document this endpoint, just comment on the post, and I will assign it to you.

## Todo
- [ ] Add an item to the OpenAPI file that shows how to "Login"
- [ ] Add a

[2021-12-28 17:52] William-McGonagle opened #62 "Add Documentation to Get User Status Endpoint"
## Idea
At this point, we have a ton of endpoints and the number just keeps growing. We need to document all of these endpoints but the only way to do that is to write about each of them. That is where you come in. If you would like to document this endpoint, just comment on the post, and I will assign it to you.

## Todo
- [ ] Add an item to the OpenAPI file that shows how to "Get User Status"
-

[2021-12-28 17:52] William-McGonagle opened #63 "Add Documentation to "Set User Status" Endpoint"
## Idea
At this point, we have a ton of endpoints and the number just keeps growing. We need to document all of these endpoints but the only way to do that is to write about each of them. That is where you come in. If you would like to document this endpoint, just comment on the post, and I will assign it to you.

## Todo
- [ ] Add an item to the OpenAPI file that shows how to "Set User Status"
-

[2021-12-28 17:53] William-McGonagle opened #64 "Add Documentation to "Set User Data" Endpoint"
## Idea
At this point, we have a ton of endpoints and the number just keeps growing. We need to document all of these endpoints but the only way to do that is to write about each of them. That is where you come in. If you would like to document this endpoint, just comment on the post, and I will assign it to you.

## Todo
- [ ] Add an item to the OpenAPI file that shows how to "Set User Data"
- [

[2021-12-28 18:24] NikitaLejnev commented on #54
@William-McGonagle I would like to work on this.

[2021-12-28 18:48] William-McGonagle commented on #54
I'll check out your pull request when I get home.

[2021-12-28 19:29] NikitaLejnev commented on #53
@William-McGonagle Reporting for duty, Sir.

[2021-12-28 20:21] #54 closed

[2021-12-28 20:25] William-McGonagle opened #66 "🦆 New Duck Jokes Needed"
We've got a couple of really solid duck jokes but we need some more because I'm getting tired of looking at the same jokes over and over. If you've got any jokes, comment them below and I will add them in. If you like one of the jokes in the comments, make sure to react to it with an emoji!

You can also submit a pull request with the joke in it. This will save me some time and it will make you a

[2021-12-28 22:00] William-McGonagle opened #67 "Add Documentation to Joke Endpoint"
## Idea
At this point, we have a ton of endpoints and the number just keeps growing. We need to document all of these endpoints but the only way to do that is to write about each of them. That is where you come in. If you would like to document this endpoint, just comment on the post, and I will assign it to you.

## Todo
- [ ] Add an item to the OpenAPI file that shows how to Query the Joke
- [x]

[2021-12-28 22:31] William-McGonagle commented on #53
Hey, @NikitaLejnev- would you like to join our Organization? It's a non-profit and just starting out so there wouldn't really be any pay, but we would love to have you!

[2021-12-28 23:59] NeilChaudhari commented on #42
Finished

[2021-12-28 23:59] #42 closed

[2021-12-29 00:20] William-McGonagle commented on #55
All done!

[2021-12-29 00:20] #55 closed

[2021-12-29 00:29] William-McGonagle commented on #57
User Query tests moved out of main file- issue closed.

[2021-12-29 00:29] #57 closed

[2021-12-29 00:31] William-McGonagle commented on #56
This is done.

[2021-12-29 00:31] #56 closed

[2021-12-29 00:32] William-McGonagle commented on #58
This is done.

[2021-12-29 00:32] #58 closed

[2021-12-29 00:36] William-McGonagle opened #69 "Add Documentation to Duck Endpoint"
## Idea
Our duck generator system is one of the best parts of our codebase. But, we've reached a bit of a problem. We need to document what is going on and how to use it. You can learn more about how to use it in some of our old closed issues- I can link some of them below.

If you want to help with this, drop us a comment and we will assign the issue to you. Cheers!

## Todo
- [ ] Add to the Open

[2021-12-29 00:39] William-McGonagle commented on #69
You can check out the duck generator [here](https://fairfield-programming.herokuapp.com/duck), and the code for it is [here](https://github.com/fairfield-programming/backend-server/blob/master/src/routes/Duck/duckGenerator.js).

[2021-12-29 00:39] William-McGonagle commented on #69
Oh- and the issue that all of this was created with is #36.

[2021-12-29 00:50] William-McGonagle opened #70 "Connect Database to Heroku"

[2021-12-29 00:51] William-McGonagle opened #71 "Add Production Check"

[2021-12-29 00:51] William-McGonagle opened #72 "If Testing, Database Should be In Memory"

[2021-12-29 00:53] William-McGonagle commented on #70
I finished the code- I just need to setup the database in heroku.

[2021-12-29 00:55] William-McGonagle commented on #70
Added a Heroku database. Done.

[2021-12-29 00:55] #70 closed

[2021-12-29 00:59] William-McGonagle commented on #71
Finished.

[2021-12-29 00:59] #71 closed

[2021-12-29 01:01] William-McGonagle commented on #72
Done.

[2021-12-29 01:01] #72 closed

[2021-12-29 03:28] NeilChaudhari commented on #48
Follow and Unfollow User endpoints finished

[2021-12-29 03:58] #53 closed

[2021-12-29 03:59] William-McGonagle commented on #49
Neil finished this.

[2021-12-29 03:59] #49 closed

[2021-12-29 04:00] William-McGonagle opened #73 "Create an Endpoint to Unfollow User"
This has already been done but we need an issue to document it.

[2021-12-29 04:01] #73 closed

[2021-12-29 04:02] William-McGonagle commented on #48
We can add a testing suite in later issues- the code is looking nice!

[2021-12-29 04:02] #48 closed

[2021-12-29 07:10] NikitaLejnev commented on #53
@William-McGonagle I would love to help out. My programming skill leaves much to be desired but I hope to proove useful.

[2021-12-29 09:11] NikitaLejnev opened #74 "[IDEA] Refactor based on SonarQube reports"
**Is your feature request related to a problem? Please describe.**
According to SonarQube, the code has 58 code smells. This equates to 6 hours of code debt. The code will become hard to maintain and extend without refactoring.

**Describe the solution you'd like**
I refactor the code and create a pull request.

**Describe alternatives you've considered**
Someone else refactors the code.

**Additi

[2021-12-29 11:17] NikitaLejnev commented on #74
Working on it.
![image](https://user-images.githubusercontent.com/33813313/147656886-43640573-8c85-44dd-8600-0d60dc9a6d11.png)

[2021-12-29 12:21] NikitaLejnev commented on #74
28 code smells are commented out lines in tests/editUser.js. I have no idea if I should delete or uncomment them.
1 is a long regexp in the email check.
The rest I won't touch, at least for now.

![image](https://user-images.githubusercontent.com/33813313/147660187-352f4829-c621-434a-880c-dbb2b1b769f2.png)

[2021-12-29 12:31] NikitaLejnev opened #76 "[IDEA] Introduce consistent formatting"
**Is your feature request related to a problem? Please describe.**
Code style is inconsistent across the code base. This drastically reduces the readability and, therefore, maintainability.

**Describe the solution you'd like**
Lint with Prettifier.

**Describe alternatives you've considered**
We can also use ESLint or any other solution. Either way I am eager to work on this.

[2021-12-29 13:17] NikitaLejnev opened #77 "[IDEA] Add validation library"
**Is your feature request related to a problem? Please describe.**
I think, we should get rid of email and password validation code and use some library instead.

**Describe the solution you'd like**
Use validator (https://www.npmjs.com/package/validator) for email and password validation, remove existing validation code.

**Describe alternatives you've considered**
Use some other library. Either

[2021-12-29 15:22] William-McGonagle commented on #53
No- you seem do be doing a great job! I just invited you to the organization if you would like to join up.

[2021-12-29 15:23] William-McGonagle commented on #76
This sounds like a great idea- I'm going to look into doing this using our CI/CD pipeline so that it's all automated.

[2021-12-29 15:24] William-McGonagle commented on #74
Thank you so much for doing this- I've never used SonarQube, but I have seen some of the shields on other repositories. What does it do?

[2021-12-29 15:28] William-McGonagle commented on #77
I feel like I agree that our validation code doesn't seem maintainable and that's why we should use a validator library, but since we already have all the code for it, and we don't want to introduce another package, I think we could just separate the validation code into its own library- as we did for the vulgar word detection.

The main reason I don't want to start depending on another package is

[2021-12-29 15:36] NikitaLejnev commented on #74
@William-McGonagle It is an open source platform for code inspections. It analyzes the code and reports on bugs, style problems and security hotspots.

[2021-12-29 15:50] #4 closed

[2021-12-29 17:50] William-McGonagle opened #78 "Move Utils into Library Folder"
There is a utilities file inside of the user routes and we should move it into the library folder so other endpoints can use it.

If your already a contributor to the project, leave this to a new person who hasn't contributed yet.

Cheers!

[2021-12-29 17:54] William-McGonagle opened #79 "Make Joke Endpoints Use Utilities Library"
Right now, we have a great utilities folder thanks to @NikitaLejnev, but not all of our endpoints are using it. We should change the joke endpoints so that they use this excellent library.

If you are already a contributor to the project, leave this for someone who hasn't contributed yet.

And if you want to do this, drop a comment on this issue, and I will assign it to you.

Cheers!

[2021-12-29 18:53] William-McGonagle opened #80 "Make Event Endpoints Utilize the Utility Library"
# Idea
We just got a brand new utility library for express, courtesy of @NikitaLejnev. But the only problem is that we haven't implemented it in our entire codebase. If you want to implement it, just drop a comment and I'll assign you to the issue.

If your already a contributor, ignore this issue as it's to encourage new contributors.

## Todo
- [ ] Add Utility Code into Events Endpoint

Cheers!

[2021-12-29 21:04] William-McGonagle commented on #78
Done!

[2021-12-29 21:04] #78 closed

[2021-12-30 06:01] djsiddz commented on #66
Seems to be a duplicate issue of #8 ?

[2021-12-30 17:18] William-McGonagle opened #83 "Switch grading to EAF Linter"
I'm going to be honest- I hate our current code grade system. It's slow, it's hard to use, and it's pretty much useless. I've also gotten reports from some of our programmers that it is getting in their way along with the beautifier. So, we're switching! If you want to help with this just let me know.

Cheers!

[2021-12-30 18:37] William-McGonagle commented on #66
Yep- it is.

[2021-12-30 18:37] #66 closed

[2021-12-30 19:04] William-McGonagle commented on #83
All Done!

[2021-12-30 19:04] #83 closed

[2021-12-30 22:43] Nokkvi commented on #79
I would be happy to help, can I take this issue?

[2021-12-31 00:07] William-McGonagle commented on #79
Yeah- sure!

[2021-12-31 03:18] William-McGonagle opened #84 "Easy: 🤪 Create Documentation Website using Github Pages"
## Idea
We have a huge codebase at this point and it keeps on growing in size. So, what do we need to do? Add more documentation. If we do this, we will enable new contributors to add code to the project, and we can keep growing.

If you want to do this, leave a comment, and I will assign you to the issue!

Cheers!

## Todo
- [ ] Setup a Build System for Documentation using Github Pages

[2021-12-31 17:41] Nokkvi commented on #79
Created pull request #86

[2021-12-31 20:06] NikitaLejnev opened #87 "Reduce code duplication"
## Idea
I think it is incredibly difficult to grow the codebase. Refactoring is very frustrating because the same steps need to be applied for several files. We are going to experience maintenance Hell if we won't at least keep the duplication at the current level.

[2021-12-31 20:13] NikitaLejnev opened #88 "Get rid of unnecessary comments"
## Idea
Comments are supposed to improve readability and make it easier to reason about the code. Currently there are a lot of comments that are redundant. There is no sense in commenting a function if its name clearly describes its purpose. There is no sense in commenting blocks of code in a large method, it is much better to extract them into their own functions.

## Todo

- If you see a comment

[2021-12-31 20:19] NikitaLejnev opened #89 "Focus on the test suite"
## Idea
The test suite is especially affected by code duplication most tests are identical except for a value of one variable. Creating reusable test functions will help us write tests quicker and focus on growing the project.

## Todo
- Consider using some coverage analysis tool.
- Create more tests.
- Review the quality of the test suite.

[2022-01-01 14:48] NikitaLejnev opened #90 "Disable SonarQube suggesting for-in loops instead of for-loops"
## Idea
For-in loops are more suited for object iteration, not array iteration. For-in loops are slower.
https://stackoverflow.com/questions/242841/javascript-for-in-vs-for

[2022-01-01 15:16] Nokkvi commented on #88
I agree that many comments in the repo add little to no value, can I take this issue?

[2022-01-01 15:54] William-McGonagle commented on #89
I think test suites are always going to have a ton of code duplication- it's a known issue in the jest library because their focus is to make it human-readable. But, I can try to get around this by seeing if we can get our code linter to ignore the testing suite.

Also, I would agree that we need more tests.

[2022-01-01 15:54] #89 closed

[2022-01-01 15:56] William-McGonagle commented on #87
I'm not really sure what the problem is with code duplication. I know that SonarQube is getting pissed at us about it, but it doesn't really seem like that big of a problem. It's really just a meaningless metric (in my opinion).

[2022-01-01 15:56] William-McGonagle commented on #79
Merged the pull request- Thank you!

[2022-01-01 15:56] #79 closed

[2022-01-01 15:59] William-McGonagle commented on #90
@NikitaLejnev @NeilChaudhari

Since we three are the top contributors in terms of commits, what would you say about getting rid of SonarQube? I've been analyzing the number of commits and code growth, and we seem to be slowing down noticeably since we added SonarQube.  Let me know down below.

[2022-01-01 16:06] NikitaLejnev commented on #90
@NikitaLejnev I agree, would love to see it gone.

[2022-01-01 16:07] William-McGonagle commented on #88
I agree that comments are supposed to improve readability, but we want the onboarding process for new contributors to be as quick as possible, and that is done through somewhat redundant comments. So, if you can find a way to make a redundant comment less redundant, do that, but don't remove comments that are already there.

https://mitcommlab.mit.edu/broad/commkit/coding-and-comment-style/

We ar

[2022-01-01 16:12] NikitaLejnev commented on #88
@William-McGonagle The point is to separate implementation details from higher level logic so you can get the general idea of what the method is doing without looking at the concrete implementation. Conversely, if you need to see how the function is implemented you look at it. I often extract the commented blocks into functions that are named after the comments. Two birds with one stone.

[2022-01-01 16:14] William-McGonagle commented on #90
Ok- SonarQube is gone! 🎉

[2022-01-01 16:14] #90 closed

[2022-01-01 16:14] #76 closed

[2022-01-01 16:18] William-McGonagle commented on #88
@NikitaLejnev I do have to say- I really like the new utility functions that you have added as they reduce the need for comments, but in the places like Sequelize references or high-level express stuff, we should keep them in because it makes the code easier for the new commiters.

[2022-01-01 16:19] NikitaLejnev commented on #87
@William-McGonagle Please take a look at this article
https://linearb.io/blog/code-duplication/

[2022-01-01 16:23] NikitaLejnev commented on #88
@William-McGonagle Fair enough. Thank you for being open to discussing ideas and suggestions. I like your idea and love the way you handle the project.

[2022-01-01 18:30] Nokkvi commented on #88
@William-McGonagle, possibly I'm not understanding correctly, but my assumption for this issue was for removing comments that don't add value.

A example I found in the code:
`function TokenizeString(input) {
  // Make it Lowercase
  const lowercase = input.toLowerCase();

  // Switch Around Similar Looking Symbols
  let partsRemoved = lowercase;
  partsRemoved = partsRemoved.replace(/\$/g, "s");

[2022-01-01 19:25] William-McGonagle commented on #88
@Nokkvi I would agree with your point that the first and last comment don't add value. But you are right that the middle comments should be kept because they somewhat help to explain the flow.

[2022-01-01 19:39] William-McGonagle commented on #87
I just read through the article and I feel like it is important to remove code duplications when it comes to repeating functions, but there are many cases (especially with testing suites) where boilerplate code is somewhat unavoidable. And, there is the pitfall of occasionally trying to get rid of the boilerplate, and that makes the code even less understandable.

I'm going to look into getting du

[2022-01-01 20:02] NikitaLejnev commented on #87
@William-McGonagle Roger that. If you need help with eaf-linter, I am at your service

[2022-01-01 20:11] William-McGonagle opened #91 "📣 We Need to Improve our Outreach"
Our project has a lot of great content on it and we already have fourteen stars and nine forks. But if we want our project to grow rapidly, we need to outreach a ton. That is why I am asking anyone who is a contributor to the project, to reach out to at least two friends and ask them to star the repository and create a pull request. If we can do that, we could easily double the number of stars tha

[2022-01-01 20:16] William-McGonagle opened #92 "🦆 Calling All Contributors: Add Feature Requests for Whatever you Want!"
If you have an idea for something you want to add to the website, just make it an issue and it will eventually get added.

There is no such thing as a bad idea, so if you want it on the site, just suggest it, and people will comment with their own opinions.

At this point, the website can grow into anything, and _you_, **yes you**, get to mold it into whatever you want.

[2022-01-02 00:02] Nokkvi commented on #88
#93

[2022-01-02 00:04] #88 closed

[2022-01-02 00:07] Nokkvi commented on #84
@William-McGonagle , I could take a stab at this.

[2022-01-02 01:27] William-McGonagle commented on #84
Sure- sounds good! When you're done setting it up, I can make it live using the domain.

[2022-01-02 01:28] William-McGonagle commented on #84
Also, @Nokkvi Do you want to join our organization? We would love to have you.

[2022-01-02 05:44] SumitKanth commented on #92
Hello, I want to contribute in projects but have no idea, can you help me to contribute

[2022-01-02 15:34] github4maninder commented on #44
issue resolved. 👍🏻

[2022-01-02 15:34] github4maninder commented on #43
issue resolved. 👍🏻

[2022-01-02 18:08] William-McGonagle commented on #43
Thank you so much!!!

[2022-01-02 18:08] William-McGonagle commented on #44
Wooo woooo!!!!

[2022-01-02 18:08] #44 closed

[2022-01-02 18:08] #43 closed

[2022-01-02 19:07] William-McGonagle commented on #92
Hey @SumitKanth, you can start to add documentation to the project if you would like! 😃

[2022-01-02 19:36] Nokkvi commented on #84
Sure, I'll join. One question I have regarding this issue. How does using something like [mkdocs-material](https://squidfunk.github.io/mkdocs-material/) sound? It would provide navigation, themes(with light/dark setting) and table of contents for each page.

[2022-01-02 20:47] William-McGonagle commented on #84
I just checked it out, and it seems great! I'll also invite you to the Github organization.

[2022-01-03 03:14] William-McGonagle commented on #84
@Nokkvi Maybe we would be better off if I made a separate repository for the documentation- how does that sound?

[2022-01-03 03:56] William-McGonagle opened #94 "Authentication System"

[2022-01-03 03:56] #94 closed

[2022-01-03 03:57] William-McGonagle opened #95 "Duck Generator"

[2022-01-03 03:57] #95 closed

[2022-01-03 04:12] William-McGonagle opened #96 "Get an Article Written About the FPA by a Reputable News Organization"
## Idea
The FPA is growing at a tremendous rate but we need to get more press coverage. One way to do this is to request coverage from news organizations who occasionally write stories about new open-source, non-profits.

If you want to help, let me know who you will contact, (you don't have to contact everyone, other people can help) and I will assign you to the issue.

## Possible Contacts
- [ ]

[2022-01-03 04:13] William-McGonagle commented on #96
**ALL HANDS ON DECK FOR THIS ONE!!!**

[2022-01-03 04:16] William-McGonagle opened #97 "Create a Wikipedia Page about the FPA"
## Idea
We will not be regarded as a reputable institution until we have a Wikipedia page written about us. To do this, we are just going to need to write it ourselves. Since a Wikipedia page cannot be written until there are two articles about the organization, we need to first complete issue #96. Once that is done, we can build away!

## Todo
- [ ] Create a Wikipedia page about the FPA. The logo

[2022-01-03 04:17] William-McGonagle opened #98 "Event System Backend"

[2022-01-03 04:17] #98 closed

[2022-01-03 16:00] Nokkvi commented on #84
@William-McGonagle If the documentation will be covering multiple projects then I think that's the way to go.

[2022-01-03 18:11] William-McGonagle commented on #84
Sounds good- I'll make the repository right now and deploy it to GitHub pages.

[2022-01-03 18:23] William-McGonagle commented on #84
Okay, the repository is [here](https://github.com/fairfield-programming/docs).

And the website is [here](https://docs.fairfieldprogramming.org/).

[2022-01-04 03:16] William-McGonagle opened #100 "Build a Competition System"
## Idea
We want to run a competition, but we aren't going to be using tools like HackerRank. What we need is a system to create, run, and manage competitions in real-time. This system should be able to handle multiple competitions at once and should be fairly secure.

## Todo

[2022-01-05 03:24] DiegoPrestesGit commented on #30
Added binoculars to the duck eye:

![image](https://user-images.githubusercontent.com/57499868/148155758-b795905e-7ee5-4967-809a-b321601a8d02.png)

you can check it out and change however you like here in my [figma](https://www.figma.com/file/vNFL1i21rLLldBn7jQaKF4/ducks?node-id=0%3A1)

[2022-01-06 04:19] William-McGonagle opened #101 "Switch to Using Duckgen Npm Package"
## Idea

Right now, we are using a custom system to generate our ducks and this is great. The only problem is that the repository is getting a little bit cluttered, so I moved all the library function out to [here](https://npmjs.org/package/duckgen).

So, it's your job to adjust our endpoints and add in the package. You will also need to add the package into the dependencies.

If you want to help

[2022-01-06 15:19] github4maninder commented on #33
Hi, I would like to work on this request.

[2022-01-06 22:16] William-McGonagle commented on #30
Hey @DiegoPrestesGit, I'm moving these issues over to a new repository, and I will add a rules section for the items so that they have a distinct and consistent style. You can see the new issue [here](https://github.com/fairfield-programming/ducks/issues/1).

[2022-01-06 22:16] #30 closed

[2022-01-06 22:20] #13 closed

[2022-01-06 22:21] William-McGonagle commented on #33
hey @github4maninder, I'm moving all of the duck stuff into a repository [here](https://github.com/fairfield-programming/ducks). If you could add your pull request there, it would be great!

[2022-01-06 22:21] #33 closed

[2022-01-06 22:22] William-McGonagle commented on #33
The issue is [here](https://github.com/fairfield-programming/ducks/issues/2).

[2022-01-06 22:24] William-McGonagle commented on #19
Moved to [here](https://github.com/fairfield-programming/ducks).

[2022-01-06 22:25] William-McGonagle commented on #34
Moved to [here](https://github.com/fairfield-programming/ducks).

[2022-01-06 22:25] #34 closed

[2022-01-06 22:25] William-McGonagle commented on #32
Moved to [here](https://github.com/fairfield-programming/ducks).

[2022-01-06 22:25] #32 closed

[2022-01-06 22:25] William-McGonagle commented on #31
Moved to [here](https://github.com/fairfield-programming/ducks).

[2022-01-06 22:25] #31 closed

[2022-01-06 22:25] William-McGonagle commented on #29
Moved to [here](https://github.com/fairfield-programming/ducks).

[2022-01-06 22:25] #29 closed

[2022-01-07 02:00] DiegoPrestesGit commented on #30
Right, it makes sense actually. should I copy paste my duck in the new repo?

[2022-01-07 03:09] William-McGonagle commented on #30
Yeah sure- that would be great!

[2022-01-07 13:27] DiegoPrestesGit commented on #30
It's there o/

[2022-01-13 20:31] #101 closed

[2022-01-19 20:43] jls47 commented on #100
I'd be interested in helping.  This sounds like an opportunity to make use of containerization if each contest is to be supported by its own service.  As far as a possible stack goes, some ideas on my end include the bread and butter React-based frontend (perhaps with recoil or redux for state mgmt) and a backend with a few different options including Django and Node, though I may recommend Node m

[2022-01-22 12:18] fuadop commented on #67
Hey @William-McGonagle , I would love to work on this. Tho I can't find any swagger doc set up in the repo yet.

[2022-02-27 21:58] MassiGy commented on #11
Looks very interesting to me!
I wonder if I still able to finish it? or someone is already doing it?

Massiles.

[2022-02-28 11:46] NeilChaudhari commented on #11
Go ahead :)

[2022-02-28 19:21] MassiGy commented on #11
Hey there, @William-McGonagle  @NeilChaudhari

I want to discuss a little bit my email verification system design. I am gonna to narrow you the steps that a typical signup scenario will follow, but a short description first.

**Description**:
My system will basically make sure that the user has a valid email (not a spammer) in the user behalf before actually making a request to our back end. For t

[2022-03-02 21:01] MassiGy commented on #11
Hey there, @William-McGonagle , @NeilChaudhari

I've done some research about free APIs to use in order to create the client side based system for email verification. But, this can not be done with out revealing the API keys.

So this can not be done without a trade off !

**Suggestions**
- Solution 1 : Build the same system but in our back end.
- Solution 2 : Create our own email sending API serv

[2022-03-08 15:19] #74 closed

[2022-03-08 15:21] #84 closed

[2022-03-09 01:25] NeilChaudhari commented on #11
Hey Massiles,

I think that you can go ahead and implement the email system that you think
will work. It sounds great! The email account that we will be using is "
***@***.***", and the password is
"FairfieldProgramming123!". Please do not share the login information with
anyone else, for security reasons. We're so grateful that you're helping us
build an email system, and we cannot thank you enou

[2022-03-09 08:51] MassiGy commented on #11
Hey Neil,

Thank you so much for the great support and feedback, I appreciate it !

Yeah, I've already enrolled in the implementation process, and for now I'am testing with my gmail account credentials. The system is almost done, I'am now able to send emails to user email addresses, and I can also handle the request for validating their email in our db when they actually click on the link that I'v

[2022-03-12 15:03] #87 closed

[2022-03-12 15:13] William-McGonagle commented on #11
Hey @MassiGy,

I just checked out your pull and it looks awesome. The email fits our style perfectly, and I just pushed some small changes so now it should be working in production. I still have to run some tests, but I'll let you know how it goes.

[2022-03-12 16:16] William-McGonagle commented on #11
It works!!! Thank you so much for your help with this one @MassiGy!

[2022-03-12 16:16] #11 closed

[2022-03-12 20:33] MassiGy commented on #11
Hey @William-McGonagle,

You are welcome, and thanks for the great feedback it is really nice !

Thanks again !
Massiles.

[2022-03-14 19:24] MassiGy opened #109 "Database Cleanup System"
## Idea

Since, we've created the email verification system, and it appears to be working, we need to create a system that will delete all the user records in our database with the `email_confirmed` attribute set to `false` for the past 30 days or so !

Basically, we need to get rid of the user's accounts that did not confirmed their email addresses a while ago , because they are considered inacti

[2022-03-14 20:54] MassiGy commented on #3
I am thinking about creating a node module, that will basically create an mailer for us, which will use the `nodemailer` lib. With this implementation, we can import where ever we want in our backend code, and we can send emails from there.

_What do you think, if you like it, please assign it to me !_

Thanks
Massiles.

[2022-03-15 10:58] MassiGy commented on #16
Hey @William-McGonagle,

I think I fixed this issue on my recent pull request #110
Please go ahead and check it out !

Thanks in advance !
Massiles.

[2022-03-15 12:47] MassiGy commented on #61
Hey @William-McGonagle,

I want to help in this one, but my documentation process is based on the jsDoc built-in vsCode comment system.
Is that fine ?

Massiles.

[2022-03-15 21:02] William-McGonagle commented on #16
Hey @MassiGy,

I checked it out and it all looks good. Thanks for the help!

Thanks,
William McGonagle

[2022-03-15 21:02] #16 closed

[2022-03-15 21:04] William-McGonagle commented on #61
Hey @MassiGy,

I think that just leaving comments in the code at this point is fine. We are going to get some more people on the project just to manage the documentation, but for now, I think we are good. I am going to look through the issues that we have on the project at the moment and try and address what we should focus on at this point- but you've done great work so far!

Thanks,
William McGo

[2022-03-15 21:07] William-McGonagle commented on #109
I think this sounds like a great idea- I like the idea of using the `setInterval` API, do you think that would lead to too much slowdown of the server?

[2022-03-15 22:21] MassiGy commented on #109
Yeah I was worrying about that, but it wont !

**Let me explain why :**
- First, this system will execute once a month or so.
- Second, this system will not fetch a third party data base or API, it will only remove some records on the local data base.
- Third, the number of this records will decrease over time.
- Fourth, this is built-in nodejs, and one of the advantages of using node is that it h

[2022-03-15 22:26] MassiGy commented on #61
Hey @William-McGonagle,

Yeah, thanks for the great feedback, it is just that these days I wanted to learn new skills and documentation will be a good one, so if you liked how I documented with jsDocs, let me know so as I will do more !

Thanks in advance !
Massiles.

[2022-03-15 22:37] MassiGy commented on #3
Well I think my system will close this issue as well !
What do you think @William-McGonagle ?

Thanks in advance !
Massiles.

[2022-03-20 17:15] William-McGonagle commented on #61
Hey @MassiGy,

I personally love your commenting style and you should focus on whatever you would like to improve- that is why you can pick whatever you would like to focus on.

Thanks,
William McGonagle

[2022-03-20 17:17] William-McGonagle commented on #109
Hey @MassiGy-

This sounds great- I can't wait to see what you come up with!

Thanks,
William McGonagle

[2022-03-21 17:09] MassiGy commented on #61
Hey there, @William-McGonagle

Thanks for the great feedback, I really appreciate it. I will do more of it in the up coming days !

Thanks.
Massiles.

[2022-03-21 17:12] MassiGy commented on #109
Hey @William-McGonagle,

Thanks for the feedback, and your thoughts on this one !

I will eventually start coding this system, in the up coming days.

Thanks again !
Massiles.

[2022-03-23 20:49] MassiGy opened #113 "Architecture Refactor."
## Idea
As the project grows, more and more routes are added. As a consequence, we need a better system for the files architecture. Currently, the entry file for our app is `src/index.js`, and we import all our routes into it. This is what happens.

![Screenshot from 2022-03-23 16-36-58](https://user-images.githubusercontent.com/82173113/159737492-66f7c96b-152c-477f-ac29-49502025a772.png)

As you

[2022-03-24 00:15] supernova350 commented on #109
Using `setInterval` for something like this is a terrible idea. If the process is restarted, all intervals will be cleared.

[2022-03-25 22:08] MassiGy commented on #109
Hey @supernova350,

Thanks for contributing on this, I really appreciate it.

Yeah, your point of view is totally right, and I saw that you've suggested to use an npm package for the scheduling part of the system. I think that it will be a very good idea.

_Please feel free to suggest your idea, or directly by code._

Thanks again.
Massiles.

[2022-03-30 08:59] MassiGy commented on #109
hey @William-McGonagle,

I think after merging my PR, you can close this one.

Massiles.

[2022-03-30 08:59] MassiGy commented on #113
hey @William-McGonagle,

I think after merging my PR, you can close this one.

Massiles.

[2022-03-30 09:24] MassiGy opened #115 "Email Confirmation Reminder."
## Idea
Since, we've created the email verification system, and it appears to be working, we need to create a system that will remind the users to confirm their email addresses before our Database Cleanup System #109  delete their accounts.

Basically, we need to send a second email to the users with an email address that is not confirmed within the first 14 days of their registration. If they do

[2022-03-31 09:48] mahiro72 commented on #60
@William-McGonagle

Hello. Can I take this issue?
I would be happy to help!

[2022-03-31 10:35] malikmukhtar commented on #80
Hello @William-McGonagle , I'd love to work on this. thanks

[2022-04-01 23:22] #115 closed

[2022-04-01 23:23] NeilChaudhari commented on #115
Thanks @MassiGy for all your hard work!

[2022-04-01 23:29] #113 closed

[2022-04-01 23:29] NeilChaudhari commented on #113
Sounds Good @MassiGy!

[2022-04-01 23:33] #109 closed

[2022-04-01 23:35] NeilChaudhari commented on #80
sounds good!

[2022-04-01 23:36] NeilChaudhari commented on #100
Sounds good @jls47 !

[2022-04-02 16:35] MassiGy commented on #115
Hey @NeilChaudhari,

Thank you so much for your feedback, I really appreciate it.

Speaking of feedback, please evaluate my usage of git and github overall. The reason why I'am asking is that I stated contributing to test how was my communication ( written English ), also to get some real world experience.

Thanks again.
Massiles.

[2022-04-02 22:54] NeilChaudhari commented on #115
Hey Massiles,

Your communication skills, compared to many Americans, is phenomenal. You eloquently describe the issues that are present, and how you plan to fix them. You write in a way that is easy to understand, and easy to respond to. We are so lucky to have you as a part of our team, and you have nothing to worry about regarding your communication skills.

Have a great weekend!
~ Neil Chaudha

[2022-04-03 02:39] William-McGonagle commented on #60
Hey @mahiro72,

Sure- we would love the help!

[2022-04-03 14:47] MassiGy commented on #115
Hey @NeilChaudhari,

Thank you so much for the great feedback. It helps a lot.

Yeah, I really wanted to evaluate my communication skills and some other soft skills of mine, before searching for a real position in the industry. So now , from your comment, I can be sure that is on point.

Thanks a lot.
Massiles.

[2022-04-04 06:47] mahiro72 commented on #60
Hey @William-McGonagle

![image](https://user-images.githubusercontent.com/70263039/161487861-6bbaa1e9-cca4-4c37-a847-0da64d3eb220.png)

Since the OpenAPI file is in ```.gitignore```
Cannot add...😢

[2022-04-16 15:45] malikmukhtar commented on #80
@NeilChaudhari  @William-McGonagle Can you please point me to the utility library you referring to because the eventsUtils.js in the /library folder has been applied to the event endpoint

[2022-04-20 21:38] #3 closed

[2022-05-03 18:46] MassiGy commented on #7
Hey @William-McGonagle , @NeilChaudhari ,

I will try to setup the email alerts for the events.

Massiles.

[2022-05-04 09:36] MassiGy commented on #7
Hey @William-McGonagle , @NeilChaudhari.

As I said, I've been coding the email alerts for the events. My idea is to remind all the subscribers if an event to which they are subscribed to will take place soon.

In other words, if an event will take place in a day, then send an email notification to all the subscribers.

Now I have the job setup, I wrapped it up in a cron schedule, and I am able to

[2022-05-07 05:25] MassiGy opened #122 "API Routes Design."
## Current situation.

While refactoring the code, I've read the routes files a couple times, and I've clearly seen that the API Routes are not setup correctly. In other word, how our API behaves is not quiet good.

For example:

---
![Screenshot from 2022-05-07 07-07-31](https://user-images.githubusercontent.com/82173113/167239379-09aae7ff-c6b5-4dbb-9ed3-e855a755488a.png)
---
As we can see in thi

[2022-05-07 05:29] MassiGy commented on #122
@William-McGonagle , @NeilChaudhari. I would love to hear your thoughts one this one as well.

Massiles.

[2022-05-14 17:20] Lucky-victory commented on #122
The `id` param is unnecessary in the route since the user's `id` is gotten from the token gotten from **cookies**.
For the `block` route, the `get` method and the `post` method shouldn't be using the same `controller`, because the duty of the `get` route should be to fetch the list of blocked **users**, while the `post` should be to add a **user** to block list.

I would love to work on this issue

[2022-05-15 21:37] William-McGonagle opened #124 "Add Firstname to Database"
## Idea

Right now, we have a username property in the database and from that, we are extrapolating the user's first and last name. The only problem with that is that my last name is McGonagle- if it wasn't, this problem wouldn't exist. The trouble comes with the first 'G' in the name. Since the computer doesn't know all of the last names in the world, it couldn't possibly know to capitalize that

[2022-05-15 21:38] William-McGonagle opened #125 "Add Last Name to Database"
## Idea

Right now, we have a username property in the database and from that, we are extrapolating the user's first and last name. The only problem with that is that my last name is McGonagle- if it wasn't, this problem wouldn't exist. The trouble comes with the first 'G' in the name. Since the computer doesn't know all of the last names in the world, it couldn't possibly know to capitalize that

[2022-05-15 21:42] William-McGonagle opened #126 "On Account Created, Automatically Set First and Last Name"
## Idea

Since we are adding first and last names to the database, we need initial values for them. To do this, we can infer the first and last names by splitting the username by the dash and then capitalizing the first letters of each word. The first name should just be the first word, and the last name should be the rest of the stuff.

Leave a comment if you want to work on this or need help.

C

[2022-05-16 10:04] MassiGy commented on #122
Hey @Lucky-victory,

Yeah, that is what I discovered when refactoring the code.

Sure, you can start enrolling in it, and show us what design you can come up with.

I will be there to only review the code ( I think ) , since I am a little  busy these days.

Thanks in advance.
Massiles.

[2022-05-18 20:10] MassiGy commented on #122
Hey @Lucky-victory, hope that you are doing well.

I think that these errors are local, cuz all the modals and `sequelize` instance itself are implicitly imported since they were added up to the node `global` object. ( Look up to the `/modals/index.js` file ).

That been said, I wonder if node is properly setup in your system, and if it is, try the `npm start` script to run the code, hoping that t

[2022-05-19 15:01] MassiGy commented on #122
Hey @Lucky-victory,

Well, exporting it or appending it to the global object are kind of the same thing at the end of the day.

If those bugs persist, just create a side `branch` and export it on your end.

That been said, I wonder if the suggestions that I gave you worked or not ?.

Hope that is clear.
Massiles.

[2022-05-19 16:59] Lucky-victory commented on #122
Alright, I will do the exporting on my end.

About if your tips helped, well, I Instantiated `Sequelize` so I was able to start the server.

[2022-05-19 19:16] William-McGonagle commented on #124
@MassiGy @NeilChaudhari Sorry to bump this issue, but we should fix this up soon as our settings pages are now under development.

[2022-05-20 10:27] MassiGy commented on #124
hey @William-McGonagle,

Thanks for the explanation. I'am currently testing the new version of the API Routes  that I came up with to fix the issue #122.

After finishing it, I will tackle this one right after it.

Massiles.

[2022-05-20 11:16] MassiGy commented on #122
Hey there,

I've fixed this one on the PR #127. Let me know your thoughts.

Massiles.

[2022-05-20 11:33] Lucky-victory commented on #122
Oh! That's great,
I haven't touched the routes, I have been working on the typings and exporting the Models instead of setting them to `global`

[2022-05-20 11:48] MassiGy commented on #124
Hey @William-McGonagle,

I've been looking around on the controllers to see where the first and last name properties could be used, and I did not found any. Could you please explain why do we need to add those on the database, and how the frontend will use or query them.

**Couple of things to consider**

 I've been a mongoDB developer, but these things still relevant on the SQL land too.

- If yo

[2022-05-20 11:54] MassiGy commented on #7
hey @William-McGonagle,

Could you explain more in depth how authorization will be setup for the users regarding the events. In other word, could you explain your thoughts when you've added ` Block Users from Subscribing if not Eligible` to the todos of this issue.

Thanks in advance.
Massiles.

[2022-05-20 12:04] MassiGy commented on #46
This is already implemented.

Massiles.

[2022-05-20 12:04] #46 closed

[2022-05-20 12:05] MassiGy commented on #50
This is already in place.

Massiles.

[2022-05-20 12:05] #50 closed

[2022-05-20 12:07] MassiGy commented on #47
Hey there,

I will be interested to work on this on.

Massiles.

[2022-05-20 15:34] MassiGy commented on #122
Yeah, great. But, that is just to get rid of your local bugs, so do not spend too much time on it.

Massiles.

[2022-05-20 15:53] Lucky-victory commented on #122
I'm currently done with it

[2022-05-24 20:48] MassiGy commented on #47
Hey @William-McGonagle,

I'am currently implementing this system. I want to note that the appropriate route signature will be `/user/followings` since we have `/user/followers` on the code base.

What I mean is that we do not want to add the `/:id/` since we will allow the user to only see whom is currently following. Because, it does not make sense to see who other are following. ( +Privacy )

Ho

[2022-05-27 13:21] #47 closed

[2022-05-27 13:22] MassiGy commented on #45
I think this is now implemented.

Massiles.

[2022-05-27 13:22] #45 closed

[2022-05-27 13:25] #122 closed

[2022-05-27 13:35] MassiGy commented on #80
Indeed it is. This should be closed then.

Massiles.

[2022-05-27 13:35] #80 closed

[2022-05-31 18:56] MassiGy commented on #7
The PR #133 fixes this one.

Massiles

[2022-05-31 19:02] MassiGy commented on #100
hey @William-McGonagle , @NeilChaudhari

Could you please explain a bit more how you want to make this one up. This will help a lot on the development process.

Massiles.

[2022-06-04 14:47] #125 closed

[2022-06-04 14:47] #7 closed

[2022-06-04 14:48] #124 closed

[2022-06-04 14:48] #126 closed

[2022-11-23 21:49] salamisodikiolawale opened #139 "Add docker-compose feature"
## Idea

Hi, me and my friend @MargotRasamy would like to add a docker-compose file to facilitate the deployment of the project.

## Todo

- [ ] Create docker-compose file in root of this project
- [ ] Create Service **backend-server**